
body {
    background-image: url("./background.jpeg");
    background-size: 100%;
}

html {
    overflow-y: hidden;
}

footer{
    color: white;
    text-align: center;
    margin-top: 10px;
}

h1{
    color: black;
    text-shadow: 1px 1px 10px white;
    color: rgba(255, 255, 255, .8);
}

h2 {
    color: white;
}

h3 {
    color: white;
    font-family: "Poppins", serif;
}

p {
    color: white;
    font-family: "Poppins", serif;
}

.scripty {
    font-family: "Satisfy", serif;
    font-size: 60px;
}

.pixely {
    font-family: "Press Start 2P", serif;
    font-size: 50px;
}


.header-row {
    text-align: center;
}


.content-container {
    margin-top: 30px;
    background: rgba(0,0,0, .5);
    text-align: center;
    border-radius: 5px;
    height: 500px;
    padding-top: 15px;
}

.info-content {
    height: 100%;
}

.feed-content {
    overflow-y: scroll;
    height: 450px;
}

.content-image {

}

.feed-entry {
    padding: 10px;
}

.feed-entry p {
    margin-top: 20px;
    text-align: justify;
}

.scrollable {
    overflow-y: scroll;
    scrollbar-face-color: white;
    scrollbar-face-color: #367CD2;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
}

 
.scrollable::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.6); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.subtext{
    font-size: 11px; 
    color: rgb(200, 200, 200);
    line-height: 6px;
}

.submit-button {
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 50%;    
    height: 35px;
    font-size: 22px;

    -webkit-transition-duration: .3s; /* Safari */
    transition-duration: .3s;

}

.submit-button:hover {
    background: rgba(255, 255, 255, .8);
    border: 1px solid black;
}

.submit-button:hover p {
    color: black;
}