<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Bungee|Pinyon+Script|Press+Start+2P|Satisfy|Yellowtail|Poppins" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/style.js"></script>
</head>

<body>
<div class="row header-row">
    <h1><span class="scripty" style="vertical-align: middle;">Once Upon a </span><span class="pixely" style="vertical-align: middle;"> Pixel</span></h1>
</div>


<div class="container content-container">
    
    <div class="row">

        <div class="col-md-4 text-center info-content">
            <br>
            <br>
            <h3>Text this number a photo to add it to the news feed!</h3>
            <br>
            <h2 class="pixely" style="font-size: 22px; padding: 5px;">201-669-4967</h2>
            <br>
        </div>

        <div class="col-md-8 text-center feed-content scrollable">
        <meta http-equiv="refresh" content="5">

            {% if (LIVE_FEEDS is defined) and LIVE_FEEDS %}
                {% for content in LIVE_FEEDS %}
                <div class='feed-entry'>
                    <img src='{{content[0]}}' class='img-thumbnail content-image' width='400' height='236'>
                    <p>{{content[1]}}</p>
                    <hr>
                </div>
                {% endfor %}
            {% else %}
                <br>
                <br>
                <h3 style='color:rgba(240, 0, 0, .6);''>No feed to display.</h3>
            {% endif %}

            <p>- End of Feed -</p>
        </div> <!-- End feed content -->
    </div> <!-- End content container -->


</div>
<footer><p>HackUMass IV | Hackers of Ramapo College | Fall 2016</p></footer>
</body>
</html>