{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">

    <h1 align="center">Hello {{ username }} !</h1> 
    <h2 align="center"> Test No: 2016694967 </h2>
   
  </div>
   <h2 align="center">Messages: </p>
  <meta http-equiv="refresh" content="3" />

  
  	<button type="button" class="btn bg-success" style="width:100%" bgcolor='#D9EDF7'><p align="left" style="font-family: Lucida Console"></button><br><br>
  
  <a href="{{url_for('logout')}} "><button type="button" class="btn btn-primary">Logout</button></a>
</div>


{% endblock %}

